body {
    background-color: rgb(237, 237, 237);
}
h1 {
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
    padding: 0.20%;
    font-size: 95%;
    margin-left: 0.5%;
}
img {
    image-rendering: pixelated;
}
a {
    text-decoration: none;
    color: black
}
a div {
    border: 0px solid black;
    width: 100px;
    height: 50px;
    padding-bottom : 0.5%;
    float:left;
    margin-right: 0.5%;
}
a div img {
    width: 32px;
    height: 32px;
    padding-left: 35%;
}
a div p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 85%; 
    margin-top: 0%;
    letter-spacing: 3%;
}